<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= locals.title || 'Resume' %></title>
  	<!-- Favicon -->   
	<link href="/img/favicon.ico" rel="shortcut icon"/>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Resume editor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= (locals.path == '/')?'active':''  %>">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if(locals.isAuthenticated()) {%> 
          <li class="nav-item <%= ((/\/resumes*/).test(locals.path))?'active': ''  %> ">
            <a class="nav-link" href="/resumes">Resumes</a>
          </li>
        <% } %> 
        </ul>
        <ul class="navbar-nav">
          <li>
            <% if(locals.isAuthenticated()){ %>
              <a class="nav-link" href="/logout">Logout</a>
            <% } else if(locals.path != '/login')  { %>
            <a class="nav-link" href="/login">Login</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>